{% extends 'shop/basic.html' %}

{% block title %} About page{% endblock %}

{% block body %}

<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">My Shopping Cart</h1>
    <p>
      My Shopping Cart Private Limited, d/b/a My Shopping Cart is an Indian e-commerce company based in Bengaluru, India. It was founded by Sachit Bhalla in 2007. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
      The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[5][6] As of March 2017, My Shopping Cart held a 39.5% market share of India's e-commerce industry.[7] My Shopping Cart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] My Shopping Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

</main>

<footer class="container">
<p>&copy; Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
{% endblock %}
