<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

    <style>
    {% block css %} {% endblock %}
    </style>
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/shop">My Online Mall</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop/tracker">Tracker</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover"
        data-html ='true' data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          Cart(<span id="idcart">0</span>)
        </button>

      </div>
    </nav>

    {% block body %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

      // Find out cart item from local storage
      if(localStorage.getItem('cart') == null){
        var cart = {};
      }
      else{
        var s = 0;
        cart = JSON.parse(localStorage.getItem('cart'));
        for(var i in cart){
          s = s + cart[i];
        }
        document.getElementById('idcart').innerHTML = s;
        updateCart(cart);
      }

      // If add to cart item is clicked, then add/increments the item
      //$('.cart').click(function(){
      $('.divpr').on('click','button.cart',function(){
        idstr = this.id.toString();
        if(cart[idstr] != undefined){
          cart[idstr] = cart[idstr]+1;
        }else{
          cart[idstr] = 1;
        }
        updateCart(cart);
        s=0;
        localStorage.setItem('cart',JSON.stringify(cart));
        for(var i in cart){
          s = s + cart[i];
        }
        document.getElementById('idcart').innerHTML = s;
      });

      // Update Popover
      updatePopover(cart);

      function updatePopover(cart){
          var popStr = "";
          popStr = popStr + "<h5>Items in your cart</h5> <div class='my-2 my-2'>";
          var i = 1;
          for(var item in cart){
              popStr = popStr + "<b>" + i + ". </b>";
              // "namepr{{ i.id }}" is id given to h5 tag which display product name in index.html
              // "namepr{{ i.id }}" here is written as 'name'+ item bcz item is in form of pr{{ i.id }}
              // .slice(0,20) is used bcz we want to show the content upto single line in pop over
              popStr = popStr + document.getElementById('name'+ item).innerHTML.slice(0,20) + "...  Qty: " + cart[item] + '<br>';
              i = i +1;
          }
          popStr = popStr + "</div>";
          popStr = popStr + "<a href ='/shop/checkout/'> <button class='btn btn-primary' id='checkout'>Checkout</button></a>";
          popStr = popStr + "<button class='btn btn-primary' onclick='clearCart()' id='clearCart'>ClearCart</button>";
          // Pop over to cart when clicked
          document.getElementById("popcart").setAttribute('data-content',popStr);
          $('#popcart').popover('show');
      }


      // Clear the cart
      function clearCart(){
        cart = JSON.parse(localStorage.getItem('cart'));
        for(var item in cart){
            document.getElementById('div'+item).innerHTML = '<button id="'+ item + '" class="btn btn-primary cart">Add To Cart</button>'
        }
        localStorage.Clear();
        cart = {};
        updateCart(cart);
      }

      function updateCart(cart){
        var sum = 0;
        for(var item in cart){
          sum = sum + cart[item];
          // 'div'+item bcz id of span tag containing button in index.html is 'divpr{{ i.id }}'
          // and divpr{{ i.id }} can be written as 'div'+item bcz item = 'pr{{ i.id }}'
          document.getElementById('div'+item).innerHTML = "<button id='minus" + item + "'class='btn btn-primary minus'>-</button> <span id='val" + item +"'>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
          localStorage.setItem('cart',JSON.stringify(cart));
          document.getElementById('idcart').innerHTML = sum;
          updatePopover(cart);
        }
      }

      // If plus or minus is clicked, change cart as well as the display value
      $('.divpr').on('click','button.minus',function(){
        // this.id is in form of minuspr4, minuspr12 etc. So we slice it to get 4, 12 etc.
        a = this.id.slice(7,);
        cart['pr'+a] = cart['pr'+a] - 1;
        // If we continue clicking minus button item in cart goes in negative. So Math.max(0,cart['pr'+a])
        // is used which gives 0 if cart['pr'+a] is negative.
        cart['pr'+a] = Math.max(0,cart['pr'+a]);
        document.getElementById('valpr'+a).innerHTML = cart['pr'+a];
        updateCart(cart);
      });

      $('.divpr').on('click','button.plus',function(){
        // this.id is in form of minuspr4, minuspr12 etc. So we slice it to get 4, 12 etc.
        a = this.id.slice(6,);
        cart['pr'+a] = cart['pr'+a] + 1;
        document.getElementById('valpr'+a).innerHTML = cart['pr'+a];
        updateCart(cart);
      });

    </script>
  </body>
</html>
