{% extends 'shop/basic.html' %}

{% block title %} my Online Mall Tracker{% endblock %}

{% block body %}
  <div class="container">
    <div class="col my-4">
      <h2>Enter your order id and email to track your orders</h2>
      <div class="col my-4">
        <form method = "POST" action = '#' id="trackerform">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputname">Order Id</label>
              <input type="text" class="form-control" name="orderId" id="orderId" placeholder="OrderId" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Track Order</button>
        </form>
      </div>
    </div>
    <div class="col my-4">
      <h2>Your order status</h2>
      <div class="col my-4">
        <ul class="list-group" id='items'>
          <!-- Items are appended here by using javascript . See javascript below in this file -->
        </ul>
      </div>

      <h2>Your order Details</h2>
      <div class="col my-4">
        <ul class="list-group" id='citems'>
          <!-- Items are appended here by using javascript . See javascript below in this file -->
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>

  $('#trackerform').submit(function(event){
    $('#items').empty();
    var formData = {
      'orderId': $('input[name=orderId]').val(),
      'email': $('input[name=email]').val(),
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
      type : 'POST',
      url : '/shop/tracker/',
      data : formData,
      encode : true
    })
    .done(function(data){  // data contains updates(description and time)  and order. See views.tracker to get info about data
      $('#citems').empty();
      data = JSON.parse(data);
      if (data['status'] == 'success'){
        updates = data['updates']; // now updates cntains updation description and time in JSON
        for(i=0;i<updates.length;i++){
          let text = updates[i]['text'];
          let time = updates[i]['time'];
          // Using some ES-6 features
          // `` is used by pressing button between tab and esc.
          // we can use ${} as we use string f-string in python
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                   </li>`
          $('#items').append(mystr);  // we can also use vanilla js i.e using getElementById.innerHTML
        }
        // Show/Fill in order details
        cart = JSON.parse(data['itemsJson']);  // Bcz data[1] is in form of string
        for(item in cart){
          let name = cart[item][1];
          let qty = cart[item][0];
          // Using some ES-6 features
          // `` is used by pressing button between tab and esc.
          // we can use ${} as we use string f-string in python
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                   </li>`
          $('#citems').append(mystr);  // we can also use vanilla js i.e using getElementById.innerHTML
        }
      }else{
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                  Incorrect OrderId or Email
                 </li>`
        $('#items').append(mystr);
      }

    });
    event.preventDefault(); // It prevents the default behaviour of form i.e prevents reloading

  })

</script>
{% endblock %}
